body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* HEADER SECTION STARTS */

header{
    position: sticky;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
/* HEADER ELEGENT LOGO */

header .logo{
    font-size: 3rem;
    color: rgb(25,24,24);
    font-weight: 900;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}

/* HEADER NAVBAR HOME , SHOP , PRODUCT , CONTACT US */

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: rgba(0,0,0,0.9);
    font-weight: 500;
}

/* HEADER NAVBAR ICONS */

header .icons a{
    font-size: 3rem;
    color: rgb(25, 24, 24);
    margin-left: 1.5rem;
}

header .icons a:hover{
    font-size: 3rem;
    color:  rgba(25, 24, 24 , 0.5);
    margin-left: 1.5rem;
}

/* INPUT TAG IN HEADER */

header #toggle{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: rgb(25, 24, 24) ;
    border: 0.1rem solid rgba(0,0,0,0.3);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: none;
}

/* RESPONSIVENESS FOR OUR HEADER */

@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(236, 231, 231);
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        
    }

    header #toggler:checked~ .navbar{
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);  /* NOTE - KEEP IN MIND TO STUDY ABOUT THIS PROPERTY IN DEPTH , DHANG SE SAMAJH NHI AYI HAI YE */ 
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: white;
        border: 1rem solid rgba(0,0,0,0.1);
        display: block;
    }
}

@media (max-width:450px){
    html{
        font-size:50%;

    }
}

/* HEADER SECTION GETS COMPLETED HERE .

#PROBLEM 1 - THREE LINES BUTTON IS NOT WORKING WHEN CLICKED OR UNCLICKED 
#PROBLEM 2 - ICONS DOES NOT GO IN THE HAMBURGER MENU 
#PROBLEM 3 - SIGN IN BUTTON IS NOT ADDED IN HABURGER
#PROBLEM 4 - SOCIAL MEDIA SYMBOLS ARE NOT ADDED IN THE HAMBURGER MENU YET
#PROBLEM 5 - SEARCH BAR HAS NOT BEEN ADDED TO IN THE HAMBURGER MENU
#PROBLEM 6 - DROP DOWN MENU IS NOT YET ADDED FOR SHOP AND PRODUCT OPTION
#PROBLEM 7 - DISCOUNT DISPLAY IS NOT DONE WELL YET 

*/

/* SLIDER STYLING STARTS HERE */


.slider{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    height: 500px;
    background-color: grey;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px;
    border-radius: 20px;
}

figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s slide infinite linear;
}

.slide{
    position: relative;
    width: 25%;
    float: left;
}

.slide img{
    width: 100%;
    height: 500px;
    
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}

/* SLIDER STYLING ENDS HERE 
THINGS LEFT ARE -
#NAVIGATION ICONS TO CONROL THIS SLIDER*/

/* HEADING AND PARA STYLING STARTS HERE */

.texthold{
    width: 80%;
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.largeheading{
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}

.para{
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
}

.slash{
    color: rgba(55, 54, 54, 0.7);
}
.fullstop{
    color: rgba(55, 54, 54, 0.7);
}
.firstword{
    font-weight: bold;
}

/* HEADER AND PARA STYLING ENDS HERE */