body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* HEADER SECTION STARTS */

header{
    position: sticky;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
/* HEADER ELEGENT LOGO */

header .logo{
    font-size: 3rem;
    color: rgb(25,24,24);
    font-weight: 900;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}

/* HEADER NAVBAR HOME , SHOP , PRODUCT , CONTACT US */

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: rgba(79, 10, 10, 0.9);
    font-weight: 500;
    transition: 0s;
    font-weight: bold;
}

/* HEADER NAVBAR ICONS */

header .icons a{
    font-size: 3rem;
    color: rgb(25, 24, 24);
    margin-left: 1.5rem;
}

header .icons a:hover{
    font-size: 3rem;
    color:  rgba(79, 10, 10, 0.9);
    margin-left: 1.5rem;
    transition: 0s;
}

/* INPUT TAG IN HEADER */

header #toggle{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: rgb(25, 24, 24) ;
    border: 0.1rem solid rgba(0,0,0,0.3);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: none;
}

/* RESPONSIVENESS FOR OUR HEADER */

@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        
    }

    header #toggle:checked ~ .navbar{
        display: block;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);  
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background-color:white;
        border: 1rem solid rgba(0,0,0,0.1);
        display: block;
    }
}

@media (max-width:450px){
    html{
        font-size:50%;

    }
}

/* HEADER SECTION GETS COMPLETED HERE .

#PROBLEM 1 - THREE LINES BUTTON IS NOT WORKING WHEN CLICKED OR UNCLICKED 
#PROBLEM 2 - ICONS DOES NOT GO IN THE HAMBURGER MENU 
#PROBLEM 3 - SIGN IN BUTTON IS NOT ADDED IN HABURGER
#PROBLEM 4 - SOCIAL MEDIA SYMBOLS ARE NOT ADDED IN THE HAMBURGER MENU YET
#PROBLEM 5 - SEARCH BAR HAS NOT BEEN ADDED TO IN THE HAMBURGER MENU
#PROBLEM 6 - DROP DOWN MENU IS NOT YET ADDED FOR SHOP AND PRODUCT OPTION
#PROBLEM 7 - DISCOUNT DISPLAY IS NOT DONE WELL YET 

*/

/* SLIDER STYLING STARTS HERE */


.slider{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    height: 500px;
    background-color: grey;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgb(60, 58, 58);
    border-radius: 20px;
}

figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s slide infinite linear;
}

.slide{
    position: relative;
    width: 25%;
    float: left;
}

.slide img{
    width: 100%;
    height: 500px;
    
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}

/* SLIDER STYLING ENDS HERE 
THINGS LEFT ARE -
#NAVIGATION ICONS TO CONROL THIS SLIDER*/

/* HEADING AND PARA STYLING STARTS HERE */

.texthold{
    width: 80%;
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.largeheading{
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2.5px 2.5px 2px grey;
}

.para{
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
    text-shadow: 1.5px 1.5px 2px grey;

}

.slash{
    color: rgba(55, 54, 54, 0.7);
}
.fullstop{
    color: rgba(55, 54, 54, 0.7);
}
.firstword{
    font-weight: bold;
}

@media (max-width:375px){
    .texthold{
        display: block;
    }
}

/* HEADER AND PARA STYLING ENDS HERE */

/* CHANGING THE APPEARANCE OF SCROLL BAR */


/* WebKit Browsers */


::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.6);
    border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(236, 235, 235);
  }


/* APPEARANCE OF SCROLL BAR HAS BEEN CHANGED */


/* HORIZONTAL SCROLL BAR STYLING FOR NEW ARRIVALS STARTS HERE */


.newarrivalsection{
    width: 80%;
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
}

.imageholder{
    height: 40rem;
    width: 30rem;
    background-color: white;
    position: relative;
    display: inline-block;
}

.image{
    width: 100%;
    height: 80%;
}
.new {
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    background-color: rgba(221, 236, 224, 0.5); 
    padding: 0.5rem; 
    border-radius: 5px; 
  }

  .percentagediscount {
    position: absolute;
    top: 11%; 
    left: 10%;
    transform: translate(-50%, -50%); 
    color: white ;
    font-size: 0.8rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    background-color:rgb(45, 235, 45); 
    padding: 0.5rem; 
    border-radius: 5px; 
  }

  .like {
    position: absolute;
    top: 5%; 
    right: 10%; 
    transform: translate(-50%, -50%); 
    color: rgb(123, 118, 118) ;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    background-color:white; 
    padding: 0.5rem; 
    border-radius: 100px; 
}
.button{
    width: 80%;
    margin: 2rem;
    height: 3rem;
    color: azure;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}

.button:hover{
    transform: scale(1.1,1.1);
    transition: 0.1s;
}

.priceholder{
    font-size: 2rem;
    margin-bottom:1rem ;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.moneysave{
    text-decoration: line-through;
    font-style: oblique;
}

/* HORIZONTAL SCROLL BAR STYLING FOR NEW ARRIVALS ENDS HERE */

/* SERVICES STYLING STARTS HERE */

.services{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: space-between;
}

.service{
    background-color: rgb(236, 235, 235);
    border: 1.2px solid black;
    font-size: 2rem;
    padding: 2rem;
    flex: 1;
    margin: 1rem;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    text-shadow: 1px 1px 1px grey;
}

.shipping{
    font-weight: bold;
}

@media (max-width:640px){
    .services{
        display: block;
        width: 30%;
    }
}

@media (max-width:390px){
    .shipping{
        font-size: 1rem;
    }

    .servicess{
        font-size: 0.8rem;
    }
}

/* SERVICES STYLING ENDS HERE */

/* OFFERS AVAILABLE STYLING STARTS HERE */

.offersnow{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 0;
}

.box{

    flex: 1;
    padding: 0;
    border: none;
    margin: 0;
}

.offertext{
    background-color: rgb(236, 235, 235);
    padding-left: 2rem;
    padding-top: 18rem;
}

.sale{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(61, 61, 242);
    margin: 1rem;
}

.hundreds{
    font-size: 3rem;
    margin-left: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
 .offerimage{
    width: 100%;
 }
.affordable{
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.shopnowoffer{
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.2rem;
}

@media (max-width:1000px){
    .offersnow{
        display: block;
    }
    .box{
        width: 100%;
    }
    .offertext{
        padding: 5rem;
    }

}

/* OFFERS AVAILABLE STYLING ENDS HERE */


  /* FOOTER STARTS HERE */

  .one{
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .onetwo{
    display: flex;
    justify-content: space-evenly;
  }

  .onetwolink{
    color: rgb(148,146,146);
    font-size: 2rem;
  }

  .onetwolink:hover{
    color: whitesmoke;
    transition: 0s;
  }

  .two{
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem ;
  }

  .twoone{
    gap: 2rem;
  }

  .privacyandterm{
    color: white ;
    font-size: 1rem;
  }

  .privacyandterm:hover{
    color: rgb(148,146,146);
    transition: 0s;
  }

  .twotwo{
    display: flex;
    padding-right: 4rem;
    justify-content: flex-end;
    gap: 5rem;
  }

  .socialmedia{
    font-size: 3rem;
    color: rgb(148,146,146);
  }

  .socialmedia:hover{
    color: pink;
    transition: 0s;
  }

  /* FOOTER ENDS HERE */


  /* IMPROVING THE PAGE STARTS HERE */

  
  .image-container {
    width: 80%;
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .image-box {
    position: relative;
    width: 30%;
    margin: 1.8rem;
  }
  
  .image-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  
  .text-on-img {
    position: absolute;
    font-weight: bold;
    left: 0;
    right: 0;
    color: black;
    text-align: center;
    padding: 0rem;
    font-size: 1.8rem;
    transition: background-color 0.3s ease;
  }
  
  
  .image-box:hover .text-on-img {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }
  
  .img-box a {
    text-decoration: none;
    color: white;
  }
  
  
  @media (max-width: 768px) {
    .image-box {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .image-box {
      width: 100%;
    }
  }

  @media (max-width:200px)
  {
    .image-box{
        margin: 1rem;
    }
    .text-on-img {
        position: absolute;
        left: 0;
        right: 0;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 0rem;
        font-size: 0.8rem;
        transition: background-color 0.3s ease;
      }
  }

  @media (max-width:768px){
    .article-text{
        font-size: 1rem;
    }

  }

  @media (min-width:820px) and (max-width:1024px){
    .article-text{
        font-size: 0.8rem;
    }
  }

  

/* NEWSLETTER STYLING STARTS HERE AGAIN FOR FURTHER IMPROVEMENTS */

  .signup-news {
    background-image: url('./newsletter.jpg');
    height: 50vh;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.signup-news h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.signup-news p {
    font-size: 1em;
    margin-bottom: 1em;
}
.signup-news input[type="email"] {
    padding: 0.5em;
    border-radius: 1rem;
    width: 25rem;
    margin-bottom: 1em;
    text-transform: none;
}
.signup-news button {
    padding: 0.7em 1.5em;
    background-color: #aea9a8;
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
}

/* NEWSLETTER STYLING ENDS HERE */